@import "variables.scss";
@import "mixins.scss";
@import "common.scss";

.myaccount-page-wrapper {
  .main-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;

    li {
      padding: 10px 0;
      position: relative;
      cursor: pointer;
      text-align: center;
      display: table-cell;
      border-left: 1px solid $text-color-light-grey-alt;
      color: $text-color-light-grey-alt;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
      }

      &:first-child {
        border-left: 0;
      }

      &.active {
        color: $text-color;

        &:after {
          background-color: $link-color;
        }
      }

      span {
        margin-top: 5px;
        display: block;
        font-size: $font-base - 5;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
      }
    }
  }

  .tabs-wrap {
    padding-top: 10px;
    text-align: center;
    color: $text-color;
    background-color: $text-color-lighter-grey;

    a {
      padding: 0 3px;
      margin: 0 10px;
      display: inline-block;
      font-size: 14px;
      vertical-align: middle;
      color: $text-color;
      line-height: 20px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-bottom: 2px solid transparent;

      &.active {
        border-bottom-color: $link-color;
      }
    }

    .pipe {
      width: 1px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      background-color: $text-color-light-grey-alt;
    }
  }

  .title-wrap {
    padding: 10px 20px 5px;
    background-color: $text-color-lighter-grey;

    h2 {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .content {
    padding: 10px 20px;
  }

  .myPhotos-section {
    ul {
      margin-bottom: 10px;
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        flex: 1;
        flex-direction: column;
        color: rgb(153, 93, 93);
        box-sizing: border-box;
        flex-basis: calc(50% - 12px);

        &:nth-child(even) {
          align-items: flex-end;
        }

        .photo {
          @include border-radius(5px);
          position: relative;
          text-align: center;
          width: 80px;
          height: 80px;
          line-height: 80px;
          color: $text-color-lighter-grey;
          font-size: $font-base + 40;
          border: 2px solid $text-color-lighter-grey;
        }

        .del-pic {
          position: absolute;
          right: -10px;
          top: -10px;
          width: 20px;
          height: 20px;
          font-size: $font-base + 4;
          line-height: 20px;
          @include border-radius(50%);
          color: $link-color;
          background-color: #fff;
        }
      }
    }
  }

  .links-list {
    li {
      padding: 10px 40px;
      position: relative;
      color: $text-color-grey;
      cursor: pointer;
      border-bottom: 1px solid $text-color-lighter-grey;

      .arrow {
        position: absolute;
        right: 40px;
        top: 50%;
        @include transform(translateY(-50%));
        color: $link-color;
        font-size: $font-base + 6;
      }

      .title {
        font-weight: 400;
        font-size: $font-base - 2;
      }

      .sub-txt {
        margin-top: 3px;
        color: $text-color-light-grey-alt;
        font-size: $font-base - 4;
      }
    }
  }
}

.edit-page-wrapper {
  padding: 10px;

  h2 {
    padding: 10px 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: $font-base;
    border-bottom: 1px solid $text-color-light-grey;
  }
}
