/* variables */

$body-width: 100%;
$font-base: 14px;
$link-color: #ff9f1c;
$link-color-primary: #2e6bd1;
$alert-txt-color: #d10000;
$text-color: #424242;
$text-color-grey: #757575;
$text-color-light-grey: #dcdcdc;
$text-color-light-grey-alt: #adadad;
$text-color-lighter-grey: #eee;
$green-color: #2ec5b6;
$facebook-color: #486fa4;
$google-plus-color: #e75e4a;
$twitter-color: #2daadb;
$linkedin-color: #0077b5;
$instagram-color: #3b7398;
